{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Unbranded page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Caseworker guidance homepage
  </h1>
  <p class="govuk-body-l">
    We needed to consider how the assistant could be integrated with the existing caseworker guidance system.
  </p>

<a class="homepage_whitelabel-img" href="article.html">

  <img style='border:1px solid #000000' src="/public/images/Homepage_whitelabel.png" alt="Homepage white label design" title="Homepage white label design" width="1024"></img>

</a>

<div class="govuk-!-padding-bottom-6"></div>

<p class="govuk-body">
  Within the scope of this project, we had limited capacities to amend the existing guidance interface, therefore we had to take this into consideration of our own designs. The keyword search was already present.</p>
<p class="govuk-body">We added a new lead paragraph to the page, to inform users they could search by two ways and ensured both search methods had equal weighting. It was important to present the methods equally but also try to encourage users to use the assistant. </p>
<p class="govuk-body">We came up with a 'widget-like' component to represent the assistant, which could be minimised for other pages in the guidance. However, on the homepage the widget is fully expanded for maximum engagement. This widget has the same visual language as the assistant. We have included a realistic, common example quesiton, to help users understand how to use the tool and consider how it could help their work. It was important that this example used natural language to demonstrate this benefit of interacting with the assistant.</p>
<p class="govuk-body">As we are encouraging users to check the responses using the existing keyword search, the assistant opens in a new tab.</p>



</p>

{% endblock %}
